<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>

<div class="container" id="root">
    <div class="card">
        <h1 :style="{
        color: inputValue.length ? 'darkgreen' : 'darkred',
        fontSize: inputValue.length ? '2rem' : '1.9rem'
        }">
            {{ title }}
        </h1>
        <div class="form-control">
            <input
                    type="text"
                    v-bind:placeholder="placeholderString"
                    :value="inputValue"
                    v-model="inputValue"
                    @keypress.enter="addNewNote"
            />
        </div>
        <button class="btn" v-on:click="addNewNote">Добавить</button>
        <hr/>
        <ul class="list" v-if="notes.length !== 0">
            <li class="list-item" v-for="(note, index) in notes">
<!--               <span :class="note.length > 10 ? 'bold' : 'primary'">-->
<!--               <span :class="{-->
<!--               'primary': true,-->
<!--               'bold': note.length > 5-->
<!--               }">-->
                <span :class="['primary', {'bold': note.length > 10}]">
                   {{ index + 1 }}. {{ toUpperCase(note) }}
               </span>
                <button
                        class="btn danger"
                        v-on:click="removeNote(index, $event)"
                >Delete
                </button>
            </li>
            <hr>
            <li>
                <strong>Общее количество: {{notes.length}}</strong> | Удвоенное: {{doubleCountComputed}}
            </li>
        </ul>
        <div v-else-if="notes.length === 0">Заметок нет</div>
        <!--        <div v-else>Заметок нет</div>-->
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>