<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue</title>
  <link rel="stylesheet" href="theme.css">
  <style>
      [v-cloak] {
          display: none;
      }
  </style>
</head>
<body>

<div class="container pt-5" id="root" v-cloak>
  <div class="card center">
    <div v-html="myHtml"></div>
    <!--    <h2 v-text="title"></h2>-->
    <!--    <h2 v-once>{{ title }}</h2>-->
    <!--    <h2 v-pre>{{ title }}</h2>-->

    <!--    <button-->
    <!--        class="btn"-->
    <!--        @click="title='Another title'">-->
    <!--      Change title-->
    <!--    </button>-->
    <div class="form-control">
      <input type="text" @keyup.ctrl.enter.exact="addItem" ref="myInput">
    </div>
    <ul class="list" v-if="items.length">
      <!--      <li class="list-item" v-for="(item, index) in 7">-->
      <!--        {{ item }}-->
      <!--      </li>-->
      <!--      <li class="list-item" v-for="(value, key) in person">-->
      <!--        <strong>{{key}}</strong>-->
      <!--        {{value}}-->
      <!--      </li>-->
      <li
          class="list-item"
          v-for="(item, index) in items"
          @click.right.prevent="removeItem(index), log(item)"
          :key="item"
      >
        <strong>{{ item }}</strong>&nbsp
        <input type="text" @click.stop>
      </li>
    </ul>
    <h3 v-show="!items.length">No elements</h3>
  </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>